<div id="home-hero">
	<div class="wrapper">
		<h2 class="title">The simplest way to get your online reviews.</h2>
		<h3 class="tag">Stop struggling to keep up with what your customers are saying about you online. Let us do that for you.</h3>
		<a href="#" class="btn primary">Sign Up for Free Today</a>
	</div><!-- /.wrapper -->
</div><!-- /#home-hero -->

<div id="hero-horiz-break" class="clearfix">
	<div class="wrapper">
		<span class="quote script">
			&ldquo;Grapevine helps me spot problems, fast.&rdquo;
			<span class="author">&ndash; Whispering Waters Spa</span>
		</span>

	</div><!-- /.wrapper -->

</div><!-- /#hero-horiz-break -->