<div id="home-hero">
	<div class="wrapper">
		<h2 class="title">The simplest way to get your online reviews.</h2>
		<h3 class="tag">Every online review of<br />
your business, delivered<br />
to your inbox.</h3>
		<a href="/signup" class="btn primary">Sign Up for Free Today</a>
	</div><!-- /.wrapper -->
</div><!-- /#home-hero -->

<div id="hero-horiz-break" class="clearfix">
	<div class="wrapper">
		<div class="twitter-wrapper">
			<%= image_tag 'twitter.png' %><span class="inner-twitter-wrapper"><span id="twitter"></span></span>
			<span class="follow-button">
			<a href="https://twitter.com/PickGrapevine" class="twitter-follow-button" data-show-count="false" data-dnt="true">Follow @PickGrapevine</a>
			<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
			</span>
		</div>
		<!-- <span class="quote script">
			&ldquo;Grapevine helps me spot problems, fast.&rdquo;
			<span class="author">&ndash; Whispering Waters Spa</span>
		</span> -->

	</div><!-- /.wrapper -->

</div><!-- /#hero-horiz-break -->

<%= javascript_include_tag "jquery.anystretch.min" %>
<script type="text/javascript">
	$(document).ready(function() {
		$('#home-hero').anystretch("<%= asset_path('ipad-coffee4.jpg') %>");
	});
</script>
