<% set_meta_tags :title => 'About Grapevine : Grapevine' %>
<section class="subpage clearfix">
<header>
	<h2 class="title">About Grapevine.</h2>
	<!-- <p class="description">We are committed improving the  about their cusomter reviews online.</p> -->
</header>

	<div class="section-content">
		<h3>Our Story</h3>
		<h4>Our Company Elders</h4>
		<img src="http://placehold.it/400x200" class="fl">
		<p>Grapevine started in 2010 based on the desire to help companies manage and stay aware of online reviews. Erik Larson and Richard Ortega both came from industries painfully aware of the impact and importance of reviews. Richard, a die-hard foodie, hails from the hospitality industry and Erik, a fanatical Dallas Cowboys fan since before their last championship, came from the auto dealiship sector. Josh Seltzer, whom has has never lost a video game match gracefully, joined the team as a partner in 2012 and brings his high energy into the mix with years of front&ndash;end development under his belt. Everyone at Grapevine is passioante about customer satisfaction and creating great software.</p>

		
		<h3>The Team</h3>
		<ul class="team-list clearfix">
			<li class="first">
				<span class="avatar-wrapper">
					<img src="http://placehold.it/170x170">
				</span>
				<h4>Erik Larson</h4>
				<p class="team-title">Sales &amp; Marketing</p>
				<p>"Life moves pretty fast. If you don't stop and look around once in a while, you could miss it.""  - <em>Ferris Bueller's Day Off</em></p>
			</li>
			<li>
				<span class="avatar-wrapper">
					<img src="http://placehold.it/170x170">
				</span>
				<h4>Josh Seltzer</h4>
				<p class="team-title">Design &amp; Front&ndash;end Development</p>
				<p>I build stuff with things and write &ldquo;LOL&rdquo; in chats when all I did was smile. When I&rsquo;m not in front of my laptop, I&rsquo;m drinking caffeine, playing Halo, or rocking out on the bass guitar.</p>
			</li>
			<li>
				<span class="avatar-wrapper">
					<img src="http://placehold.it/170x170">
				</span>
				<h4>Richard Ortega</h4>
				<p class="team-title">Back-end Development
				<p>"Now, when I say, 'Who's da mastah?' you say, 'Sho'nuff!'" - <em>Sho'nuff, The Last Dragon</em>
				</p>
			</li>
		</ul>

	</div><!-- /.section-content -->


</section>