<% set_meta_tags :title => 'About Grapevine : Grapevine' %>
<section class="subpage with-aside clearfix">
<header>
	<h2 class="title">About Grapevine.</h2>
	<p class="description">Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Cras mattis consectetur purus sit amet fermentum.</p>
</header>

	<div class="section-content">
		<h3>Our Story</h3>
		<h4>If its duable its doable</h4>
		<p>What&rsquo;s worse than bad reviews? The ones you miss. The ones that go answered. The ones that most potential customers tend to base their buying decision on.</p>
		<h4>That&rsquo;s why we&rsquo;re here</h4>
		<p>We understand how frustrating it is to find a bad review, espcially when you know it&rsquo;s a problem you can fix. We save you time, money and frustration by delivering reviews right to your door step.. well.. actually, your email, which is even better.</p>
		<h3>Why are reviews important to us?</h3>
		<h4>Awesome sauce</h4>
		<p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec sed odio dui. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
		<h4>Other things that are cool</h4>
		<p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec sed odio dui. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
		<h3>Let us know what you think</h3>
		<p>Yeah, sometimes we might screw up. We don't mean to.. we're not out to be dumb, but it can happen. If this is one of those times, please contact us.</p>
		<h4>Vent. Scream. Yell.</h4>
		<p>If you hear a dial tone at any time, don't worry. Thats just our background music... keep yelling.</p>

		



	</div><!-- /.section-content -->

	<aside>
		<h3>The Team</h3>
		<ul class="team-list">
			<li>
				<span class="avatar-wrapper">
					<img src="http://placehold.it/170x170">
				</span>
				<h4>Erik Larson</h4>
				<p class="team-title">Sales &amp; Marketing</p>
				<p>Donec id elit non mi porta gravida at eget metus. Integer posuere erat a ante venenatis dapibus posuere velit aliquet.</p>
			</li>
			<li>
				<span class="avatar-wrapper">
					<img src="http://placehold.it/170x170">
				</span>
				<h4>Josh Seltzer</h4>
				<p class="team-title">Design &amp; Front-end Development</p>
				<p>Donec id elit non mi porta gravida at eget metus. Integer posuere erat a ante venenatis dapibus posuere velit aliquet.</p>
			</li>
			<li>
				<span class="avatar-wrapper">
					<img src="http://placehold.it/170x170">
				</span>
				<h4>Richard Ortega</h4>
				<p class="team-title">Back-end Development
				<p>Donec id elit non mi porta gravida at eget metus. Integer posuere erat a ante venenatis dapibus posuere velit aliquet.</p>
			</li>
		</ul>

	</aside>


</section>