<% set_meta_tags :title => 'About Grapevine : Grapevine' %>
<section class="subpage with-aside clearfix">
<header>
	<h2 class="title">About Grapevine.</h2>
	<p class="description">Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Cras mattis consectetur purus sit amet fermentum.</p>
</header>

	<div class="section-content">
		<h3>Reivews can suck... especially the bad ones.</h3>
		<p>What&rsquo;s worse than bad reviews? The ones you miss. The ones that go answered. The ones that most potential customers tend to base their buying decision on.</p>
		<h4>That&rsquo;s why we&rsquo;re here</h4>
		<p>We understand how frustrating it is to find a bad review, espcially when you know it&rsquo;s a problem you can fix. We save you time, money and frustration by delivering reviews right to your door step.. well.. actually, your email, which is even better.</p>


	</div><!-- /.section-content -->

	<aside>
		<h3>A title in the sidebar</h3>
		<p>Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Cras mattis consectetur purus sit amet fermentum. Nullam quis risus eget urna mollis ornare vel eu leo.</p>

		<h4>Subtitle in sidebar</h4>
		<p>Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Cras mattis consectetur purus sit amet fermentum. Nullam quis risus eget urna mollis ornare vel eu leo.</p>

	</aside>


</section>