<% set_meta_tags :title => 'You Broke The Internet',
				 :description => 'Grapevine 404 error page. I hope you looking for Email alerts.',
                 :keywords => 'customer reviews, email alerts, review reporting, grapevine, review sites, reputation concierge, review responses' %>
<script type="text/JavaScript">
<!--
setTimeout("location.href = 'http://www.pickgrapevine.com';",12000);
-->
</script>
<section>
	<header>
		<h2>Aw, snap</h2>
	</header>
	<div class="section-content">
	            <%= image_tag("pics/404-page.png", id: "feature-screenshot", alt: "You Killed Kenny!") %>
	         
	</div>
</section>
