<% provide(:title, 'Grapevine - You Broke the Internet') %>
<script type="text/JavaScript">
<!--
setTimeout("location.href = 'http://www.pickgrapevine.com';",12000);
-->
</script>
<div class="feature span12">
	<div>
			&nbsp;
		</div>
	<div class="container" id="reviews_delivered">

	            <h2 class="motto">Uh <strong>Oh!</strong></h2>
	            <%= image_tag("pics/404-page.png", id: "feature-screenshot", alt: "You Killed Kenny!") %>
	            <div>
				&nbsp;
				</div>
	        </div>
	    </div>
	</div>

	<div class="container">
		<!-- Ask Josh about padding fix -->
	    <div class="row">
	        <div class="span12 center graded">
				<a href="/" class="signup">Grapevine Home</a>
	        </div>
	    </div>
	</div>
</div>