<% content_for :head do %>
	
<% end %>
<% set_meta_tags :title => 'Email Alerts for Online Customer Reviews',
				 :description => 'Grapevine sends you an email alert each time a customer leaves a review for you online.',
                 :keywords => 'customer reviews, email alerts, review reporting, grapevine, review sites, reputation concierge, review responses' %>

<section class="section-panel home-panel">
	<h3>We track reviews for you</h3>
	<p>We monitor all the popular review sites across the web including Google, Bing, Yelp, CitySearch, Yellow Pages, TripAdvisor, OpenTable, UrbanSpoon and more. Get rid of the uncertanity and all those bookmarks.  Grapevine's effecient email alert system will keep you infomred around the close, 24/7 and 365. If there is a review site we’re not monitoring for you, contact us and we’ll add it.</p>
</section>
<section class="section-panel home-panel">
	<h3>How does it work?</h3>
	<p>Every day, people talk about your business online — sometimes good, sometimes not. If a new review pops up online, you’ll get an email alert from us automatically. THese emails are easy to read and interact with on desktops, tablets and smart phones.  Downtime should be focused on preparation and managing your business. Don’t spend that time searching for reviews by hand - we deliver them to you!</p>
</section>
<section class="section-panel home-panel">
	<h3>Why do reivews matter?</h3>
	<p>You already have a reputation online before a customer walks through your door. <em>"70% of potential diners read online reviews before selecting a business." - Business Week<em><br><br> It can now be tracked how much impact reviews have on your bottom line in the almost every industry.<br><em>“In 2011, a one star drop in review ratings resulted in an average of $8,393 in lost revenue for restaurants.” - National Restaurant Association<em></p>
</section>