<% provide(:title, 'Grapevine') %>
<div class="center hero-unit">
	<h1>Reviews. Delivered.</h1>
<% if current_user %>
  <p>Shouldn't you be working?<br />If you need any help feel free to call us at 210.392.8639</p>
  <p><%= link_to "Edit Profile", edit_profile_path %>
<% else %>
	<h2>
		Track every review posted online about your business, good and bad!
		<br /><br /><em>Early pricing now available - $30/monthly!!</em>
	</h2>
  <%= link_to "Join Today!", sign_up_path, class: "btn btn-large btn-primary" %></p>
<% end %>
</div>

<%= link_to image_tag('g-only-colorflat.png', alt: "Grapevine"), '#' %>
