<% content_for :head do %>
	
<% end %>
<% set_meta_tags :title => 'Email Alerts for Online Customer Reviews',
				 :description => 'Grapevine sends you an email alert each time a customer leaves a review for you online.',
                 :keywords => 'customer reviews, email alerts, review reporting, grapevine, review sites, reputation concierge, review responses' %>
<div id="main-container" class="clearfix">
<section class="section-panel track home-panel">
	<h3>We track reviews for you.</h3>
	<p>We monitor all the popular review sites across the web including Google, Bing, Yelp, CitySearch, Yellow Pages, TripAdvisor, OpenTable, UrbanSpoon and more. Downtime should be focused on preparation and managing your business. Don&rsquo;t spend that time searching for reviews by hand.</p>
	<%= link_to "Learn More", learn_more_path(:anchor => 'why'), :class => 'btn alt' %>
</section>
<section class="section-panel how home-panel">
	<h3>How does it work?</h3>
	<p>If a new review pops up online, you&rsquo;ll get an email alert from us automatically. These emails are easy to read and interact on desktops, tablets and smart phones. Grapevine&rsquo;s efficient email alert system will keep you informed around the clock.</p>
	<%= link_to "Learn More", learn_more_path(:anchor => 'how'), :class => 'btn alt' %>
</section>
<section class="section-panel home-panel last">
	<h3>Why do reviews matter?</h3>
	<p>You already have a reputation online before a customer walks through your door.</p>

	<blockquote>&ldquo;70% of potential diners read online reviews before selecting a business.&rdquo; <em class="author">- Business Week</em></blockquote>

	<p>It can now be tracked how much impact reviews have on your bottom line in the almost every industry.</p>

	<blockquote>&ldquo;In 2011, a one star drop in review ratings resulted in an average of $8,393 in lost revenue for restaurants.&rdquo; <em class="author">- National Restaurant Association</em></blockquote>
</section>


</div><!-- /#main-container -->
<a href="/signup" class="btn primary home-bottom-action">Sign Up Today</a>