<% provide(:title, 'Grapevine') %>
<div class="span12">
		<div>
		&nbsp;
		</div>
	<!-- OpenTable review goes here -->
	<div class="container">
	    <h2>Want <strong>More</strong> ?</h2>
	    <h3 class="hand">Check out your OpenTable Review below!</h3>
	    <div class="row">
        	<div class="span7 hero-unit">
        		<%= image_tag "pics/opentable-logo.png", alt: "OpenTable" %>
        			<div>
					&nbsp;
					</div>
        		<p><strong>Restaurant:</strong> [BIZ NAME]</p>
        		<br />
        		<p><strong>Customer Rating:</strong> [RATING] stars</p>
        		<br />
        		<p><strong>Review posted on:</strong> [DATE]</p>
        		<br />
        		<p><strong>The Review:</strong><br />
        		We decided to try this place since we made a last minute decision to eat in Boulder. Our favorite places didn't have any open reservations. There were only two pizza sizes large or small. The large was way too big for two people. The wood holder for the pizza took up most of the table and was uncomfortable for the third person in our party tto eat his pasta. The pizza was okay- could have used just a bit more cheese. One of our toppings was spinach. It wasn't cooked with the pizza, but was tossed on top. There was so much of it, it was hard to eat the pizza. Service was drop and go, but the waitress was friendly. There are so many better options in Boulder. This is a last resort.</p>
            </div>

		<div class="pricing landing">

	        <div class="span3">
	            <div class="well">
	                <h3>Monthly <br />Email Alerts<br /><em><small>Simple and Smart!</small></em></h3>
	                <ul>
	                    <li>Monitor One Business Location Anywhere In The USA</li>
	                    <li>Email Notifications</li>
	                    <li>24x7 Review Monitoring</li>
	                    <li>Unlimited Review Notices</li>
	                    <li>Email Support</li>
	                    <li>No Long-Term Contracts</li>
	                    <li><em>Perfect for small businesses wanting to monitor their reviews.</em></li>
	                </ul>
	                <h3>$30/month</h3>
	                <div align="center"><a href="/signup" class="purple_button">Start Free Trial</a></div>
	            </div>
	        </div>
	    </div>

        </div>

	</div>

	<div class="container">
	    <h2>Stop <strong>wasting</strong> your time searching.</h2>
	    <br />
	    <div class="row">
	        <div class="span12 center graded">
				<!-- <a href="/signup" class="purple_button">FREE 30-Day Trial for Email Alerts</a> -->
	            <h3 class="hand">30 day free trial, no credit card, no long-term contracts.</h3>
	        </div>
	    </div>
	</div>
</div>