<% provide(:title, 'Grapevine') %>
<div class="span12">
		<div>
		&nbsp;
		</div>
	<!-- OpenTable review goes here -->
	<div class="container">
	    <h2>Want <strong>More</strong> ?</h2>
	    <h3 class="hand">Check out your OpenTable Review below!</h3>
	    <div class="row">
	        <div class="span12 box drop-shadow" id="watch_video">

            <div class="row">
            	<div class="span9 offset1 hero-unit">
            		<%= image_tag "pics/opentable-logo.png", alt: "OpenTable" %>
            			<div>
						&nbsp;
						</div>
            		<p><strong>Customer Rating:</strong> [RATING] stars</p>
            		<br />
            		<p><strong>Review posted on:</strong> [DATE]</p>
            		<br />
            		<p><strong>The Review:</strong><br />
            		We decided to try this place since we made a last minute decision to eat in Boulder. Our favorite places didn't have any open reservations. There were only two pizza sizes large or small. The large was way too big for two people. The wood holder for the pizza took up most of the table and was uncomfortable for the third person in our party tto eat his pasta. The pizza was okay- could have used just a bit more cheese. One of our toppings was spinach. It wasn't cooked with the pizza, but was tossed on top. There was so much of it, it was hard to eat the pizza. Service was drop and go, but the waitress was friendly. There are so many better options in Boulder. This is a last resort.</p>
                </div>
            </div><br /><br />

	            <div class="row features-sales-page">
	                <article class="span10 offset1 bullet">
	                    <h3>What does the awesome Grapevine service provide?</h3>

	                    <ul class="bullet">
	                    	<li>We provide <strong>24x7 Review Monitoring</strong> for all the popular review sites across the web including OpenTable, Yelp, UrbanSpoon, GoogleLocal, CitySearch, InsiderPages, YellowPages and more.</li>

	                        <li>Our <strong>Daily Email Notifications</strong> allow you to go about your work and instanly get notified once a review is left.</li>

	                        <li>On top of that, a <strong>30 Day Free Trial & No Long-Term Commitment</strong> means you are out of excuses!</li>
	                    </ul>

	                </article>
	            </div>

	        </div>
	    </div>
	</div>

	<div class="container">
	    <h2>Stop <strong>wasting</strong> your time searching.</h2>
	    <br />
	    <div class="row">
	        <div class="span12 center graded">
				<a href="/signup" class="purple_button">FREE 30-Day Trial for Email Alerts</a>
	            <h3 class="hand">30 day free trial, no credit card, no long-term contracts.</h3>
	        </div>
	    </div>
	</div>
</div>