<% set_meta_tags :title => 'Pricing : Grapevine' %>
<div id="main-container" class="clearfix">
<section class="subpage">
	<header>
		<h2 class="title">Pricing Plans.</h2>
		<p class="description">We think having 10+ pricing plans is confusing.  Let&rsquo;s keep things simple.  How about three?</p>
	</header>

	<div class="section-content">

		<ul id="price-list" class="clearfix">
			<li class="free">
				<h3>Starting Out</h3>
				<h4>Free <span>One Location</span></h4>
				<ul>
					<li>Track all major review sites</li>
					<li>Up to 5 reviews per month</li>
					<li>Delivered daily</li>
					<li>Email support</li>
				</ul>
				<p class="details">Yeah, free is pretty awesome. If you get 5 or less reviews in a month, then you&rsquo;re good. If a 6th comes in, we&rsquo;ll let you know. You can decide if you want to go pro or not.</p>
				<%= link_to 'Get Started', signup_path, :class => 'btn alt' %>
			</li>
			<li class="thirty">
				<h3>Small Business</h3>
				<h4><sup>&#36;</sup>30 <span>per month | one location</span></h4>
				<ul>
					<li>Track all major review sites</li>
					<li>Unlimited reviews</li>
					<li>Delivered daily</li>
					<li>Email support</li>
					<li>Phone support</li>
				</ul>
				<p class="details">Who doesn&rsquo;t like &ldquo;unlimited&rdquo;?. This plan is great for all types of businesses.</p>
				<%= link_to 'Get Started', signup_path, :class => 'btn alt' %>
			</li>
			<li class="custom">
				<h3>Agencies &amp; Custom</h3>
				<h4>Contact Us</h4>
				<ul>
					<li><strong>Multi-location monitoring</strong></li>
					<li>Track all major review sites</li>
					<li>Unlimited reviews per month</li>
					<li>Delivered daily</li>
					<li>Email support</li>
					<li>Phone support</li>
					
					<li>*White-labeling</li>
				</ul>
				<p class="details">Agency, small web shop, social media manager? Let&rsquo;s talk.</p>
				<%= link_to 'Contact Us', contact_path, :class => 'btn alt' %>
			</li>
		</ul><!-- /#price-list -->

		<p class="disclaimer">Customers of Grapevine must agree to our Terms of Service prior to using our services. * - White labeling options are based on number of locations tracked for each agency or corporation.</p>

	</div><!-- /.section-content -->

</section>
</div><!-- /#main-container -->
