<% set_meta_tags :title => 'Privacy : Grapevine' %>
<div id="main-container" class="clearfix">
<section class="subpage clearfix terms">
<header>
	<h2 class="title">Privacy Policy.</h2>
	<!-- <p class="description">We are committed improving the  about their cusomter reviews online.</p> -->
</header>

	<div class="section-content">
		<h3>Grapevine is committed to your privacy.</h3>

		<p>This site (www.pickgrapevine.com) is owned and operated by Grapevine. Your privacy on the Internet is of the utmost importance to us. At Grapevine, we want to make your experience online satisfying and safe.</p>

		<p>Because we gather certain types of information about our users, we feel you should fully understand our policy and the terms and conditions surrounding the capture and use of that information. This privacy statement discloses what information we gather and how we use it.</p>

		<h4>The Information We Collect:</h4>
		<p>When you place an order for one of our services or participate in activities on Grapevine's website, you provide certain personally identifiable information (PII). Examples of this information may be any of the following: your name, e-mail address, organization or business, personal or business address, personal or business phone number, credit card information, personal and/or business demographic information, purchase history, contact preferences, and personal and/or professional opinions.</p>

		<h4>The Way We Use Information:</h4>
		<p>We use the information you provide about yourself to fill and provide any orders that you place. If you pay with a credit card, we send only what is required to a third-party financial institution to verify your card and process the transaction. We may use your sales and account information to send you notices of products or services that you might be interested in, or to offer specials from time to time. If you do not wish to receive that type of information, you may indicate this to us via email at info@pickgrapevine.com. We review the site traffic information to learn which area of the site is helpful for our customers and which are not. This helps us make improvements to the site.</p>

		<h4>Security</h4>
		<p>To prevent unauthorized access, maintain data accuracy, and ensure the correct use of information, we have put in place appropriate physical, electronic, and managerial procedures to safeguard and secure the information we collect online. Our site uses Secure Sockets Layer (SSL) technology to encrypt any passwords and credit card information that you enter. SSL secures your data while it travels from your computer to ours.</p>

		<h4>Online Newsletters</h4>
		<p>When you subscribe to one of our services you may be automatically enrolled in our online newsletters, there are instructions at the bottom of your e-mail newsletter telling you how to unsubscribe if you ever wish to do so.</p>

		<h4>Surveys</h4>
		<p>Grapevine may occasionally conduct user surveys to better target our content to our audience. We never share any of this information about specific individuals with any third party.</p>

		<h4>Children</h4>
		<p>Consistent with the Federal Children's Online Privacy Protection Act of 1998 (COPPA), we will never knowingly request personally identifiable information from anyone under the age of 13 without requesting parental consent. Kids, please, be sure to ask your parents for permission before you send any information about yourself to us or anyone else online or over the Internet.<p>

		<h4>Cookies</h4>
		<p>We use cookies on our website to help you in your online shopping and to help tailor your experience at our website. Cookies are little bits of electronic information that a website can store on your computer to help make shopping online easier and to help personalize your visit to Grapevine website. The cookie itself does not contain personal information, although it will enable us to relate your use of this site to information that you have specifically and knowingly provided. The only personal information a cookie can contain is information you supply yourself. A cookie can't read data off your hard drive or read cookie files created by other sites. Grapevine uses cookies to track user traffic patterns (as described above). Our advertising system delivers a one-time cookie to better track ad impressions and click rates.</p>

		<p>You can refuse cookies by turning them off in your browser. If you've set your browser to warn you before accepting cookies, you will receive the warning message with each cookie. You do not need to have cookies turned on to use this site. However, you may be unable to shop online or participate actively in message boards, forums, polling, and surveys.</p>

		<h4>Sharing of the Information</h4>
		<p>Grapevine uses the above-described information to tailor our web content and software services to suit your needs and to better understand our audience's demographics. We will not share information about individual users with any third party, except to comply with applicable law: (1) to comply with any applicable laws or to respond to a court order, subpoena, search warrant, or other legal process received by Grapevine; (2) to protect the safety of members of the public or users of Grapevine's website; or (3) to enforce our Terms of Use or to protect our rights or property. Except as otherwise described in this privacy statement, Grapevine will not disclose personal information to any third party unless we believe that disclosure is necessary.</p>

		<h4>Your Consent</h4>
		<p>By using this site, you consent to the collection and use of this information by Grapevine. If we decide to change our privacy policy, we will post those changes on this page so that you are always aware of what information we collect, how we use it, and under what circumstances we disclose it.</p>

		<h4>Contacting Us</h4>
		If you have any questions about this Privacy Policy, the operating practices of this site, or delivered services delivered from this site, please contact us at:

		<h5>Grapevine</h5>
		<p>112 East Pecan Street, 10th Floor, Contra Room<br />
		San Antonio, TX 78205<br />
		(210) 549-7799<br />
		<a href="mailto:info@pickgrapevine.com">info @ pickgrapevine.com</a><br />

		This page was last updated December 5, 2012.</p>


	</div><!-- /.section-content -->


</section>
</div><!-- /#main-container -->