<div class="page-header">
	 <h2 class="motto">Reviews. <strong>Delivered</strong>.</h2>
            <h3 class="hand">Track every review posted online, good and bad!</h3>
	<h3>30 Day Free Trial, No Credit Card</h3>
</div><!-- /.page-header -->

<form class="row-fluid">
  <div class="span6">
    <ul>
      <li>No Credit Card</li>
      <li>No Spam <small>we hate that too</small></li>
      <li>Unlimited</li>
    </ul>
  </div>
  <div class="span6">

  <fieldset class="span3">
    <legend>Tell us about your company</legend>
    <div class="control-group">
      <label class="control-label">Business Name</label>
      <div class="controls">
        <input type="text" placeholder="Grapevine">
      <div>
    </div>
    <div class="control-group">
      <label class="control-label">Business Address</label>
      <div class="controls">
        <input type="text" placeholder="1234 Street Rd.">
      </div>
      <div class="controls controls-row">
        <input type="text" placeholder="TX" class="span2">
        <input type="text" placeholder="Zip Code" class="span8">
      </div>
    
    </div>

    
      

  </fieldset><!-- /.span3 -->

  <fieldset class="span3">
    <legend>Tell us about yourself</legend>
    <div class="control-group">
      <label class="control-label">Your Name</label>
      <div class="controls controls-row">
        <input type="text" placeholder="First">
        <input type="text" placeholder="Last">
      </div>
    </div>
    <div class="control-group">
      <label class="control-label">Email</label>
      <div class="controls">
        <input type="email" placeholder="you@website.com">
      </div>
    </div>

    <div class="control-group">
      <label class="control-label">Password</label>
      <div class="controls">
        <input type="password" placeholder="Password">
        <input type="password" placeholder="Confirm Password">
      </div>
    </div>
  </fieldset><!-- /.span3 -->

  <div class="span12">
    <a type="button" style="width:50%; display:block; margin:0 auto;" class="btn purple_button">Let&rsquo;s Do This!</a>

  </div>
</div><!-- /.span6 -->

  


</div><!-- /.row-fluid -->
