<% provide(:title, 'Grapevine - Thank You') %>
<script type="text/JavaScript">
<!--
setTimeout("location.href = 'http://www.pickgrapevine.com';",3500);
-->
</script>
<div class="feature span12">
	<div>
			&nbsp;
		</div>
	<div class="container" id="reviews_delivered">

	            <h2 class="motto"><strong>Thank</strong> You!</h2>
	            <h3>Your sign-up shows you care about your customers<br />
	            	and what they are saying about your business online.</h3>
	            <%= image_tag("pics/thumbs-up.png", id: "feature-screenshot", alt: "Nice Job") %>
	            <div>
				&nbsp;
				</div>
	        </div>
	    </div>
	</div>

	<div class="container">
		<!-- Ask Josh about padding fix -->
	    <div class="row">
	        <div class="span12 center graded">
				<a href="/" class="signup">Grapevine Home</a>
	        </div>
	    </div>
	</div>
</div>