<% set_meta_tags :title => 'Thank You',
				 :description => 'Grapevine sends you an email alert each time a customer leaves a review for you online.',
                 :keywords => 'customer reviews, email alerts, review reporting, grapevine, review sites, reputation concierge, review responses' %>
<script type="text/JavaScript">
<!--
setTimeout("location.href = 'http://www.pickgrapevine.com';",12000);
-->
</script>
<div id="main-container" class="clearfix">
<section class="subpage thankyou">
	<header>
		<h2 class="title">Thank You!</h2>
	</header>
	<div class="section-content">
		<h3>You&rsquo;re awesome! Yeah... you know it, we know it.</h3>
<%= image_tag("pics/thumbs-up.png", id: "feature-screenshot", alt: "Nice Job") %>
</div>
</section>
</div><!-- /#main-container.clearfix -->
	