<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>Grapevine Receipt - Credit Card Failed</title>
        <style type="text/css">
            h1, h2, td, p {
                font-family: helvetica, arial, sans-serif;
            }
        </style>
    </head>
    <body>
        <!-- center -->
        <table width="100%" cellpadding="10" cellspacing="0">
            <tr>
                <td valign="top" align="center">
                    <!-- header -->
                    <table width="600" cellpadding="0" cellspacing="0" id="headerTable">
                        <tr>
                            <td>
                                <h1 style="font-family:helvetica, arial, sans-serif;font-size:28px;">
                                    <a href="http://www.pickgrapevine.com" title="Grapevine"
                                       style="text-decoration:none;color:#555555;">Grapevine</a>
                                </h1>
                            </td>
                        </tr>
                    </table>
                    <!-- /header -->
                </td>
            </tr>
        </table>
        <!-- /center -->


<!-- account-info -->
<table id="account-info" width="100%" cellpadding="0" cellspacing="0"
       bgcolor="#F3F3F3"
       style="border-top: 3px solid #CCCCCC;border-bottom: 3px solid #CCCCCC;">
    <tr>
        <td valign="top" align="center">
            <table width="600" cellpadding="0" border="0" cellspacing="0">
                <tr>
                    <td>
                        <h2 style="font-size:16px;text-align:left">Payment Failed</h2>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table><!-- /account-info -->

<table width="100%" cellpadding="10" cellspacing="0">
    <tr>
        <td valign="top" align="center">
            <table width="600" cellpadding="0" border="0" cellspacing="0">
                <tr>
                    <td>
                        <h1 style="font-size:20px;text-align:left">Account Action Required: Payment Failed</h1>

                        <table width="100%" cellpadding="0" cellspacing="0"
                               style="margin-bottom: 10px">
                            <tr>
                                <td width="320" id="message-body" align="left"
                                    valign="top" style="font-size:12px;">
                                    <!-- message-body -->
                                    <p>We have tried to bill for your monthly Grapevine service on the credit card you have provided but payment failed. Please check your credit card expiration date and billing address, or any other recent updates you may have had to your billing method.
                                    <br /><br />
                                    You can <a href="http://www.pickgrapevine.com/billing">updated your billing information here</a>.
                                    <br /><br />
                                    <strong>Our contact info:</strong><br>
                                    112 East Pecan 10th Floor, Suite Contra<br>
                                    San Antonio, Texas 78205<br>
                                    Phone: (210) 549-7799<br>
                                    <br>
                                    <!-- /message-body -->
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>

    </body>
</html>