/* Containers for Yes and No */
#no_info {
	display: none;
}
#yes_info {
	display: none;
}

/* Want me more 4 */
.wantmore4 {
	.hero-unit;
	overflow:hidden;
	background:;
	.review {
		float:left;
		width:60%;
		img {
			float:left;
			margin-right:2%;
		}
		ul {
			margin:0;
			padding:0;
			list-style-type:none;
		}
	}
	.did-you-know {
		float:right;
		width:30%;
		border-left:1px solid #ccc;
		padding-left:40px;
	}
}