/* Containers for Yes and No */
#no_info {
	display: none;
}
#yes_info {
	display: none;
}

$purple: #7c40bc;

/* Want me more 4 */
.wantmore4 {
	margin-bottom:40px;
	.review-hero {
		padding:38px;
		overflow:hidden;
		background:#eee;
		-webkit-border-radius:4px;
		-moz-border-radius:4px;
		border-radius:4px;
		border:1px solid #ccc;
	}
	.review {
		float:left;
		width:60%;
		padding-right:40px;
		@media (max-width: 979px) {
			padding-right:0;
			width:auto;
			float:none;
		}
		img {
			float:left;
			margin-right:2%;
			padding:6px;
		}
		span.quote {
			font-size:20px;
		}
		ul {
			margin:0;
			padding:0;
			list-style-type:none;
			li:first-child {
				margin-bottom:10px;
				font-size:16px;
				line-height:24px;
				strong { 
					font-size:18px;
					span {
						font-size:12px;
						font-weight:normal;
						}
					}
				em { 
					display:block;
					border-bottom:1px dotted #ccc;
					padding-bottom:15px; 
					padding-left:100px;
					margin-top:6px;
					font-size:18px;
					line-height:27px;
					margin-top:0;
					@media (max-width: 979px) {
						padding-left:0;
					}
				}
			}
			li:nth-child(2), li:nth-child(3), li:nth-child(4) {
				white-space:nowrap;
				display:inline;
				margin-right:10px;
				font-size:15px;
				&:after {
					content:'•';
					margin-left:10px;
				}
			}
			li:last-child:after { content:none;}
		}
	}
	.did-you-know {
		float:right;
		width:33%;
		text-align:center;
		a { display:inline-block; }
		a.purple_button {margin-right:10px;}
		h4 {
			font-family:'Courgette', cursive;
			color:#634583;
			font-size:34px;
			line-height:40px;
		}
		p {
			margin:20px 0;
		}
		@media (max-width: 979px) {
			margin-top:20px;
			float:none;
			width:auto;
		}
	}
}
@media (min-width: 768px) and (max-width: 979px) {
	.wantmore4-steps.steps h4 {
		font-size:20px;
		span {
			padding:0;
			color:$purple;
			border:none;
			-moz-box-shadow:none;
			box-shadow:none;
			top:0;
			background:none;
		}
	}
}