@import url('boilerplate.css');
/* custom styles */

// SASS variables
$purple: #8D6DB1;
$darkGray: #666;
$lightGray: #d4d4d4;
$textGray: #888787;

@mixin radius($r) {
    -webkit-border-radius:$r;
    -moz-border-radius:$r;
    border-radius:$r;
}


/* TYPOGRAPHY
=================================
===============================*/
html, body { 
    font-size:16px; 
    font-family: 'Helvetica Neue', Helvetica, sans-serif; }
.script {
    font-family: 'Courgette', cursive;
}
.title {
    font-size:60px;
}
.subtitle {
    font-size:40px;
}
p {
    font-size:16px;
    line-height: 24px;
    color:$textGray;
}

/* BASIC LAYOUT
=================================
===============================*/
body { background: url(grid.png) repeat; }
.wrapper {
    width:1000px;
    margin:0 auto;
}
#main-container {
    width:1000px;
    margin:50px auto;
    background:#fff;
    -webkit-box-shadow: 0px 0px 4px 0px #444;
    box-shadow: 0px 0px 4px 0px #444;
    @include radius(3px);

}



.btn {
    @include radius(3px);
    display:inline-block;
    padding:10px 15px;
    font-size:24px;
    color:#fff;
    box-shadow:0 0 5px 1px #444;
    text-decoration: none;
}
.btn.primary {
    background: rgb(239,184,65);
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2VmYjg0MSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlYWEyMDciIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, rgba(239,184,65,1) 0%, rgba(234,162,7,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(239,184,65,1)), color-stop(100%,rgba(234,162,7,1)));
    background: -webkit-linear-gradient(top, rgba(239,184,65,1) 0%,rgba(234,162,7,1) 100%);
    background: -o-linear-gradient(top, rgba(239,184,65,1) 0%,rgba(234,162,7,1) 100%);
    background: -ms-linear-gradient(top, rgba(239,184,65,1) 0%,rgba(234,162,7,1) 100%);
    background: linear-gradient(to bottom, rgba(239,184,65,1) 0%,rgba(234,162,7,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#efb841', endColorstr='#eaa207',GradientType=0 );
}


/* HEADER LAYOUT
=================================
===============================*/
header#global-header {
    /*background: $purple;*/
    background: #af83d3;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2FmODNkMyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM4ZDZkYjEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, #af83d3 0%, $purple 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#af83d3), color-stop(100%,$purple));
    background: -webkit-linear-gradient(top, #af83d3 0%,$purple 100%);
    background: -o-linear-gradient(top, #af83d3 0%,$purple 100%);
    background: -ms-linear-gradient(top, #af83d3 0%,$purple 100%);
    background: linear-gradient(to bottom, #af83d3 0%,$purple 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#af83d3', endColorstr='$purple',GradientType=0 );

    box-shadow: 0 2px 13px 0px rgba(0, 0, 0, .5);
    position: relative;
    z-index: 50000;
}
header#global-header h1 {
    margin:0;
}
header#global-header h1 a {
    float: left;
    margin:0;
    line-height: 0;
    position: relative;
    z-index: 50000;
}
header#global-header h1 a img {
    width:250px;
    height:54px;
    position: relative;
    top:8px;
}
header#global-header h1 a:before {
    border-top: 21px solid $purple;
    border-left: 0px solid transparent;
    border-right: 33px solid transparent;
    position: absolute;
    content: '';
    bottom: -18px;
    left: 4px;
}

/* GLOBAL NAV
=================================
===============================*/
header#global-header .global-nav {
    margin:18px 0 0 0;
    padding:0;
    list-style-type: none;
    float: right;
    text-align: right;
    width:50%;
}
header#global-header .global-nav li {
    display: inline;
    margin-left:15px;
}
header#global-header .global-nav li a {
    text-decoration: none;
    font-size:16px;
    /*color:#5F3377;
    text-shadow:1px 1px #B187DB;*/
    color: #fff;
    opacity: .5;
}
header#global-header .global-nav li a:hover {
    opacity: 1;
}
header#global-header .global-nav li.signup a {
    color:#fff;
    background: #444;
    padding:10px;
    border-radius: 4px;
}
header#global-header .global-nav li.signup a:hover {
    background: #fff;
    color:$purple;
}


/* HOME HERO
=================================
===============================*/
#home-hero {
    background: url('ipad-coffee3.jpg') no-repeat 0 -80px;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    background-size:cover;
    overflow: hidden;
    height:520px;
    color:#fff;
     
    .title {
        text-shadow:1px 1px 5px #444;
        margin-bottom:0;
    }
    .tag {
        width: 380px;
        font-weight:200;
        font-size:24px;
        line-height: 30px;
        margin-bottom: 40px;
        text-shadow:1px 1px 3px #444;
    }
}
#hero-horiz-break {
    background: #39383b;
    height:80px;
    -webkit-box-shadow: inset 0px 1px 4px 0px #000;
    box-shadow: inset 0px 1px 4px 0px #000;
    border-bottom:1px solid #fff;
    color:#7b7a7a;
    span.quote {
        font-size: 28px;
        padding-top: 20px;
        text-align: center;
        width: 80%;
        margin: 0 auto;
        display: block;
        span.author {
            font-family: 'Helvetica Neue', helvetica, sans-serif;
            font-size:12px;
        }
    }
}

/* HOME PANELS
=================================
===============================*/
section.home-panel {
    padding:40px;
    height:300px;
    border-top:1px solid #d4d4d4;
    &:first-child {
        border-top:0;
        background: url('home-browser-bg.png') no-repeat bottom right;
    }
    h3 {
        font-size:36px;
        font-weight: 100;
        width:45%;
        margin-top:0;
        letter-spacing: 1px;
    }
    p {
        width:45%;
    }
    &:nth-of-type(2) {
        background: url('home-displays-bg.png') no-repeat bottom left;
        h3, p {
            position: relative;
            left:56%;
        }
    }
}
/* SUB PAGES
=================================
===============================*/
section.subpage {
    header {
        background: url('sub-title-border.png') repeat-x bottom;
        text-align: center;
        padding-top:40px;
        padding-bottom:40px;
        margin-bottom:40px;
        h2 {
            margin-bottom: 10px;
            margin-top:0;
        }
    }
}


/* FOOTER
=================================
===============================*/
footer {
    background:#39383b;
    color:#fff;
    a {
        text-decoration: none;
        color:#fff;
    }
}