/* Custom GV Styles */

.btn.primary {
	background: #eca919;
    background: rgb(239,184,65);
    background: -moz-linear-gradient(top, rgba(239,184,65,1) 0%, rgba(234,162,7,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(239,184,65,1)), color-stop(100%,rgba(234,162,7,1)));
    background: -webkit-linear-gradient(top, rgba(239,184,65,1) 0%,rgba(234,162,7,1) 100%);
    background: -o-linear-gradient(top, rgba(239,184,65,1) 0%,rgba(234,162,7,1) 100%);
    background: -ms-linear-gradient(top, rgba(239,184,65,1) 0%,rgba(234,162,7,1) 100%);
    background: linear-gradient(to bottom, rgba(239,184,65,1) 0%,rgba(234,162,7,1) 100%);
}
.btn.alt {
    background:#a499b1;
    color:#fff;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.75);
}
/* HEADER */
#header.navbar-inverse .navbar-inner {
	background: #8d6db1;
}
.navbar-inverse .brand, .navbar-inverse .nav>li>a {
	color:#fff;
}
#header .brand {
	margin-top: -5px !important;
	margin-left:-30px;
	width: 203px;
}


#sidebar > ul > li.active {
	border-right: 4px solid #d7c9e6;
}

#body h3.page-title { margin-bottom: 0; }

.dashboard a, .breadcrumb a { color:#8d6db1;}
.nav-pills > .active > a, .nav-pills > .active > a:hover {
	background:#8d6db1 ;
}
.nav-tabs { border:none;}
.nav-pills > .active > a { position: relative;}
.nav-pills > .active > a:before {
	border-top: 10px solid #8d6db1;
	border-left: 0px solid transparent;
	border-right: 10px solid transparent;
	position: absolute;
	content: '';
	bottom: -11px;
	left: 8px;
}
.widget-body { background:#fff;}
.widget .form-actions {
	margin:0 -15px -34px;
}

#pro-features .pro-features-container {
		width:100%;
		height:auto;
		position:relative;
		
}
#pro-features .pro-features-container img {

			width:100%;
			height:auto;

}
#pro-features .features-message {
		position: absolute;
		width: 400px;
		background: #fff;
		margin: 0 auto;
		z-index: 5;
		left: 31%;
		top: -10px;
		padding: 20px;
		-webkit-border-radius:4px;
		border-radius: 4px;
		-webkit-box-shadow:0 0 4px 0 rgba(0, 0, 0, .3);
		-moz-box-shadow:0 0 4px 0 rgba(0, 0, 0, .3);
		box-shadow:0 0 4px 0 rgba(0, 0, 0, .3);
}
#pro-features .pro-features-list {
	margin:20px 0;
	padding:0;
	list-style-type: none;
	font-size:18px;
	text-align: left;
}
#pro-features .pro-features-list + p {
	text-align:center;
}
#pro-features .pro-features-list + p a {
	font-size:18px;
	vertical-align: middle;
}
#pro-features .pro-features-list + p a i {
	vertical-align: middle;
}
#pro-features .pro-features-list li {
	margin:10px 0;
}

.reivews-blank-message {
	margin-top: 150px;
	font-size: 16px;
	line-height: 26px;
}