<ul class="dashnav">
	<li><%= link_to "Welcome", root_path %></li>
	<li><%= link_to "Edit Profile", edit_user_registration_path %></li>
	<li><a href="#">Billing</a></li>
	<li><%= link_to 'Change Plan', upgrade_path %></li>
</ul>