<div class="container">
    <div>
    &nbsp;
    </div>
    <div>
    &nbsp;
    </div>
    <ul class="nav nav-list">
    <li class="divider"></li>
    </ul>
    <div class="row footer">
        <div class="span10 offset1">
            <ul class="links">
                <li><a href="https://twitter.com/#!/PickGrapevine/" target="_blank"><%= image_tag("icons/twitter.png", alt: "twitter") %></a></li>
                <li><a href="http://www.facebook.com/pages/Grapevine/183081488425142" target="_blank"><%= image_tag("icons/facebook.png", alt: "fb") %></a></li>
                <li><a href="mailto:info@pickgrapevine.com?Subject=Support%20Request">Support</li>
                <li><a href="mailto:info@pickgrapevine.com?Subject=Grapevine%20Inquiry">Contact</li>
            </ul>           
        </div>
    </div>
    <%= debug(params) if Rails.env.development? %>
</div>