<div class="container">
    <h3 class="hand">About Us</h3>
    <div class="row">
        <div class="span12">
        <p>Grapevine was founded on November 2011 by Richard Ortega and Erik Larson and realizing that companies weren't listening to customers' reviews. Grapevine was born to fix the issue of managers and owners not being aware of online reviews. <em>Also, our epic name - Grapevine - was a function of subconscious-market research. Ahem...</em></p>
            
        </div>
<!--         <div class="span4">
            
            <form class="form-horizontal">
                <h4>Sign up to the newsletter</h4>
                <div class="input-prepend">
                    <span class="add-on"><i class="icon-envelope"></i></span><input type="text" id="inputIcon" class="span2" placeholder="Email address">
                </div>
                    
                <button class="btn">Sign up</button>
            </form>
            
        </div> -->
    </div>
    <div class="row footer">
        <div class="span12">
            <ul class="links">
                <li><a href="https://twitter.com/#!/PickGrapevine/" target="_blank"><%= image_tag("icons/twitter.png", alt: "twitter") %></a></li>
                <li><a href="http://www.facebook.com/pages/Grapevine/183081488425142" target="_blank"><%= image_tag("icons/facebook.png", alt: "fb") %></a></li>
                <li><a href="mailto:info@pickgrapevine.com?Subject=Support%20Request">Support</li>
                <!-- <li><a href="#">Privacy Policy</a></li> -->
                <!-- <li><a href="#">Jobs</a></li> -->
                <li><a href="mailto:info@pickgrapevine.com?Subject=Grapevine%20Inquiry">Contact</li>
            </ul>           
        </div>
    </div>
    <%= debug(params) if Rails.env.development? %>
</div>