<% provide(:title, 'Grapevine') %>
<div class="container">
            <h2 class="motto">Reviews. <strong>Delivered</strong>.</h2>
            <h3 class="hand">Track Online Reviews Said About Your Business!</h3>
            <%= image_tag("pics/feature.png", id: "feature-screenshot", alt: "screenshot") %>
        </div>
    </div>
    <div class="row">
        <div class="span12 graded center">
            <h4 class="hand">Grapevine is for everyone, any industry, any company! Scroll down for more details!</h4>
        </div>
    </div>
</div>


<div class="container">
    <h2><strong>Features</strong> you'll really dig.</h2>
    <h3 class="hand">Hear Everything Through the Grapevine.</h3>
    <div class="row">
        <div class="span12 box drop-shadow">
            <div class="row">
                <article class="span6 offset1">
                    <h3>24x7 Review Monitoring.</h3>
                    <p>We monitor all the popular review sites across the web. Yelp, UrbanSpoon, GoogleLocal, CitySearch, InsiderPages, YellowPages. If there is a review site we're not monitoring for you, get in contact with us and we'll add it! 
                    </p>
                </article>
                <div class="span4">
                    <%= image_tag("pics/24x7.png", alt: "24x7 Review Monitoring") %>
                </div>
            </div>
            <div class="row">
                <div class="span4 offset1">
                    <%= image_tag("pics/email.png", alt: "Daily Email Notices") %>
                </div>
                <article class="span6">
                    <h3>Daily Email Notifications</h3>
                    <p>Everyday people talk about your business online, some good - some bad. It's tough to keep up with new review sites, let alone checking all of them daily - which is why we do it for you! If a new review pops up online, you'll get an email!</p>
                </article>
            </div>
            <div class="row">
                <article class="span6 offset1">
                    <h3>30 Days Free Trial.<br /> No Long-Term Commitment.</h3>
                    <p>We believe that we can offer each other value. We believe that so much, we'll setup monitoring of your business location at no cost plus get 30 days of 24x7 review monitoring. No credit cards, no worries. <br /><em>Sign up below, seriously it can't hurt you!</em>  
                    </p>
                </article>
                <div class="span4">
                    <%= image_tag("pics/free.png", alt: "Free 30 Day Trial") %>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <h2>Things <strong>people have said</strong> about us.</h2>
    <table class="table table-bordered quotes">
        <tr>
            <td width="33%"><h4>Jason Seats</h4>"You should've built this product a year ago."</td>
            <td width="33%"><h4>Mike Troy</h4>"Just get out there, people will need this."</td>
            <td width="33%"><h4>Dean McCall</h4>"I'm from Canada, <em>hey</em>!"</td>
        </tr>
    </table>
</div>
<div class="container">
    <h2>Keep it simple <strong>pricing</strong> and plans.<br /><em><small>Don't worry, you don't pay anything now, but we want to be upfront and honest with our offerings!</small></em></h2>
    <div class="row pricing">
        
        

        <div class="span4">
            <div class="well">
                <h3>Monthly<br /><em><small>Simple and Smart!</small></em></h3>
                <ul>
                    <li>Monitor One Business Location</li>
                    <li>Email Notifications</li>
                    <li>24x7 Review Monitoring</li>
                    <li>Email Support</li>
                    <li>No Setup Cost</li>
                </ul>
                <h3>$30/month</h3>
            </div>
        </div>

        <div class="span4">
            <div class="spot">Best<br/>value!</div>
            <div class="well highlighted">
                <h3>Yearly
                    <br /><em><small>Pay Ahead and Save $60!</small></em>
                </h3>
                <ul>
                    <li>Monitor One Business Location</li>
                    <li>Email Notifications</li>
                    <li>24x7 Review Monitoring</li>
                    <li>Email Support</li>
                    <li>No Setup Cost</li>
                </ul>
                <h3>$300/year</h3>
            </div>
        </div>

        <div class="span4">
            <div class="well">
                <h3>Reputation Concierge</h3>
                <ul>
                    <li>Fully Managed Reputation (Review Sites)</li>
                    <li>Dedicated Account Concierge</li>
                    <li>Invoiced Billing</li>
                    <li>Same Day Email and Phone Support</li>
                    <li>No Setup Cost</li>
                </ul>
                <h3>$200/month</h3>
            </div>
        </div>
        
    </div>
    <div class="row">
        <div class="span12 center graded">
            <a href="/demo" class="signup">Sign up now</a>
            <h3 class="hand">30 day free trial, no credit card, no long-term contracts.</h3>
        </div>
    </div>
</div>
