<h3>Account Status:</h3>
<p><%= @status %></p>

<h3>Current Plan:</h3>
<p><%= @current_user.plan.name %></p>

<h3>Location Limit:</h3>
<p><%= @location_limit %> Locations</p>

<h3>Review Limit:</h3>
<p><%= @review_limit %> Reviews</p>

<p class="span6 muted" style="margin-top:20px; font-size:13px;">Need help? Give us a call and we&rsquo;ll hug it out. <br />Call us at <a href="tel:+12105497799">210-549-7799</a>.</p>