<h3>Account Status:</h3>
<p><%= @status %></p>

<h3>Current Plan:</h3>
<p><%= @current_user.plan.name %></p>

<h3>Location Limit:</h3>
<p><%= @location_limit %> Locations</p>

<h3>Review Limit:</h3>
<p><%= @review_limit %> Reviews</p>