<h4>Account Status:</h4>
<p><%= @status %></p>

<h4>Current Plan:</h4>
<p><%= @current_user.plan.name %></p>

<h4>Location Limit:</h4>
<p><%= @location_limit %> Locations</p>

<h4>Review Limit:</h4>
<p><%= @review_limit %> Reviews</p>

<p class="span6 muted" style="margin-top:20px; font-size:13px;">Need help? Give us a call and we&rsquo;ll hug it out. <br />Call us at <a href="tel:+12105497799">210-549-7799</a>.</p>