<ul class="breadcrumb">
	<% if current_page?(root_path) %>
		<li>
			<i class="icon-home"></i>
			<%= link_to "Home", root_path %>
		</li>
	<% else %>

		<li>
			<i class="icon-home"></i>
			<%= link_to "Home", root_path %> <span class="divider">/</span>
		</li>
		<li><%= link_to "#{@item.name}", @item.name %></li>
	<% end %>
	
</ul>