<!-- BEGIN SIDEBAR -->
	<div id="sidebar" class="nav-collapse collapse">
		
		<!-- BEGIN SIDEBAR MENU -->
		<ul>
			<li><%= nav_link raw("<i class='icon-home'></i> Home"), locations_path %></li>

			<!-- example josh of how to take care of icons inside of this -->
			<% @items.each do |item| %>
				<li><i class='icon-building'></i><%= nav_link raw("<i class='icon-building'></i> #{item.name}"), location_path(item) %></li>
			<% end %>
			<li><%= link_to raw("<i class='icon-plus-sign'></i> Add a location"), new_location_path %></li>
			
		</ul>
		<!-- END SIDEBAR MENU -->
	</div>
<!-- END SIDEBAR -->