<!-- BEGIN SIDEBAR -->
	<div id="sidebar" class="nav-collapse collapse">
		
		<!-- BEGIN SIDEBAR MENU -->
		<ul>
			<li><%= link_to "<i class='icon-home'></i> Home".html_safe, locations_path %></li>

			<!-- example josh of how to take care of icons inside of this -->
			<% @items.each do |item| %>
				<li class='active'><%= link_to "<i class='icon-building'></i> #{item.name}".html_safe, location_path(item), :class => "" %></li>
			<% end %>
			<li><a href="#"><i class="icon-plus-sign"></i> Add a location</a></li>
			
		</ul>
		<!-- END SIDEBAR MENU -->
	</div>
<!-- END SIDEBAR -->