<div id="main-container" class="dash-page billing">
<section class="with-aside">
<header>
<h2>Billing</h2>
<%= render 'dashnav' %>
</header>
	<div class="section-content">
		<% if @subscription.last_four.present? %>
			<p>You have already provided a credit card ending in : <strong><%= @subscription.last_four %></strong><br />
				Any updates you make here will be used for billing on your next invoice.</p>
		<% end %>
		<%= render 'shared/payment_form' %>
	</div><!-- /.section-content -->
</section>
</div><!-- /#main-container.dash-page -->