<div class="row-fluid">
	<div class="span12">
		<h3 class="page-title">Billing</h3>
		<p class="muted">Thanks for choosing Grapevine, your plan is billed monthly from the date you upgraded on a rolling 30 day period. <br> You are currently subscribed to our: <span><%= @current_user.plan.name %><br> </span></p>
		<% if @subscription.last_four.present? %>
			<p class="alert alert-notice">You have already provided a credit card ending in : <strong><%= @subscription.last_four %></strong>
			
		<% else %>
			<p class="alert alert-notice">You have not yet added your billing information. Need to add your billing information? Update it below</p>
		<% end %>
	</div>
</div>

<div id="page" class="dashboard">
	<div class="row-fluid">
		
	<div class="span6">
		<div class="widget">
			<div class="widget-title">
				<h4>Update your billing information</h4>
			</div>
			<div class="widget-body">

				<p>Any updates you make here will be used for billing on your next invoice.</p>
				<%= render 'shared/payment_form' %>
			</div><!-- /.widget-body -->

		
		</div><!-- /.widget -->
	</div><!-- /.span6 -->

	</div><!-- /.row-fluid -->
</div><!-- /#page -->
