
			<!-- BEGIN PAGE HEADER-->
			<div class="row-fluid">
				<div class="span12">
					
					<!-- BEGIN PAGE TITLE & BREADCRUMB-->		
					<h3 class="page-title">Dashboard</h3>
					<%= render 'accounts/breadcrumb' %>
					

				</div><!-- /.span12 -->
			</div><!-- /.row-fluid -->

