<div class="container">
	<h3 class="hand">Howdy, Cowboy! Welcome to your Grapevine Profile<br />Here's what we got on your file right now</h3>
	<div class="row">
		<div class="span12 box drop-shadow">
			<div>
				<br />
				<p>
				User: <%= current_user.first_name %> <%= current_user.	last_name %>
				<br />
				Email: <%= current_user.email %></p>
			</div>
		</div>
	</div>
</div>