<!-- BEGIN PAGE HEADER-->
			<div id="pro-features" class="row-fluid">
				<div class="span12">
					
					<!-- BEGIN PAGE TITLE & BREADCRUMB-->		

					<!-- <h3 class="page-title">
						Yo bitch.. yous got to pay fo this 
					</h3> -->

					<div class="pro-features-container">
						<div class="features-message">
							<h3>Upgrade today to our pro account</h3>
							<!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
							tempor incididunt ut labore et dolore magna aliqua.</p> -->
							<ul class="pro-features-list">
								<li><i class="icon-ok"></i> Unlimited review alerts</li>
								<li><i class="icon-ok"></i> Dashboard reporting</li>
								<li><i class="icon-ok"></i> Help feed the kittens</li>
							</ul>
							<p><%= link_to '<i class="icon-cloud-upload"></i> Upgrade'.html_safe, upgrade_path, :class => 'btn alt' %></p>
						</div><!-- /.message -->
						<img style="opacity:.5;" src="http://placekitten.com/g/1200/900">
					</div>
				</div>
			</div>