<!-- from other page -->
<div id="main-container" class="dash-page change-plan">
<section class="with-aside">
<header>
<h2>Change Your Plan</h2>
<%= render 'layouts/dashnav' %>
</header>

<div class="section-content">

		<h3>
			Your current plan: <br />
			<%= @current_user.plan.name %><br /><br />
			Your plan's status: <br />
			<%= @status %><br /><br />

			Want to change your plan?
			Upgrade to a plan:<br />
			<% @plans.each do |plan| %>
				<h4><%= plan.name %></h4>
			<% end %>

	</div><!-- /.section-content -->

	<aside>
		<h3>What does upgrading get me?</h3>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam quis risus eget urna mollis ornare vel eu leo. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Etiam porta sem malesuada magna mollis euismod.</p>

		<h3>How much does it cost?</h3>
		<h4>$30 per month.</h4>
		<p>That&rsquo;s it. Awesome, right?</p>

	</aside>
</section>
</div><!-- /#main-container.dash-page -->
