<!-- from other page -->
<div id="main-container" class="dash-page change-plan">
<section class="with-aside">
<header>
<% if @plan_identifier == 'gv_free' %>
	<h2>Upgrade to Pro for Unlimited Review Alerts!</h2>
<% else %>
	<h2>Change Your Plan</h2>
<% end %>
<%= render 'dashnav' %>
</header>

	<div class="section-content">
		<div class="current-plan">You are currently subscribed to our: <span><%= @current_user.plan.name %></span></div>
		<% if @plan_identifier == 'gv_free' %>
	    	<h3>What does upgrading get me?</h3>
			<h4>Unlimited Review Tracking for Your Business.</h4>

			<h3>How much does it cost?</h3>
			<h4>$30 per month.</h4>
			<p>That&rsquo;s it. Awesome, right?<br /> Sign up below and your account will be immediately upgraded!</p>
			<div class="form-wrapper">
			<%= render 'shared/payment_form' %>
			</div>
	    <% else %>
	    	<h3>Need to change your plan?</h3>
	    	<p>Please call us about any account change including plan inquiries, downgrades, or cancellations. We'd be happy to help. 
    		<p class="span6 muted" style="margin-top:20px; font-size:13px;">Need help? Give us a call and we&rsquo;ll hug it out. <br />Call us at <a href="tel:+12105497799">210-549-7799</a>.</p>
		<% end %>
		
	</div><!-- /.section-content -->



	<aside>
		<%= render 'account_overview' %>
	</aside>
</section>
</div><!-- /#main-container.dash-page -->
